.article-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(25, 4, 69, 0.1);
  
  h2 {
    font-weight: 800;
    background: linear-gradient(100deg, #12A594 0%, #3E6FF0 70%, #6236FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
    text-transform: uppercase;
  }
}

.article-content {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.17px;
  margin-top: 32px;
}

.article-paragraph {
  padding-top: 1em;
  line-height: 1.6;
}

.home-link, .home-link:focus, .home-link:active, .home-link:visited {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 4px;
  text-decoration: none;
  color: rgba(25, 4, 69, 0.7);
  white-space: nowrap;
}

.home-link:hover {
  color: #6236FF;
}

.footer-link, .footer-link:focus, .footer-link:active, .footer-link:visited {
  color: rgba(25, 4, 69, 0.8);
  text-decoration: none;
  font-weight: 400;
}

.footer-link:hover {
  color: #6236FF;
}

.external-link, .external-link:focus, .external-link:active, .external-link:visited {
  color: rgba(25, 4, 69, 0.8);
  text-decoration: none;
  font-weight: 400;
}

.external-link:hover {
  color: #6236FF;
}

/* Mobile */
@media(max-width: 539px) {
  .article-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
