#navbar {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.article-link, .article-link:focus, .article-link:active, .article-link:visited {
    text-decoration: none;
    color: #445566;
    font-weight: 800;
    font-size: 1.4em;
}

.article-link:hover {
    color: #00a0a0;
}

.article-header {
    padding-bottom: .6em;
}

.article-description {
    font-size: 1.2em;
    font-weight: 300;
    color: #748ea8;
}

.article-row {
    padding-bottom: 1em;
}

.article-date {
    color: #748ea8;
    margin-top: 0.3em;
    font-size: 0.7em;
}

.navbar-link:link, .navbar-link:visited, .navbar-link:active {
    color: black;
}

.navbar-link:hover {
    color: #00a0a0
}

@media(min-width: 330px) {
    .navbar-link {
        font-size: 1.45em;
        padding: 8px 20px 5px 0;
        text-decoration: none;
    }
}

@media(min-width: 370px) {
    .navbar-link {
        font-size: 1.55em;
        padding: 8px 32px 5px 0;
        text-decoration: none;
    }
}

@media(min-width: 400px) {
    .navbar-link {
        font-size: 1.8em;
        padding: 5px 32px 5px 0;
        text-decoration: none;
    }
}

@media(min-width: 470px) {
    .navbar-link {
        font-size: 1.7em;
        padding: 5px 40px 5px 0;
        text-decoration: none;
    }
}

@media(min-width: 544px) {
    .article-header {
        padding-bottom: 0;
    }

    .article-row {
        display: flex;
        justify-content: left;
        align-items: baseline;
    }

    .article-description { padding-left: .3em; }
}

@media(min-width: 625px) { .navbar-link { padding: 5px 25px 5px 25px; } }