body {
  font-family: Roboto, Helvetica, serif;
  background-color: #fffef8; 
  margin: 0;
  border-top: 1em solid #00a0a0;
}

p, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
}

h1 {
  color: #000;
}

h2 {
  color: #000;
  font-size: 2.5em;
}

h3 {
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
  padding: .7em 0 0 0;
}

h4 {
  color: #000;
  font-size: 1.3em;
  font-weight: 400;
  padding: .7em 0 0 0;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 4px solid #00a0a0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #4F4F4F;

  display: block;
  min-width: 110%;
  max-width: 110%;
  padding: 1em 1.5em;
  margin: 0 4px 0 0;

  font-family: monospace;
  line-height: 1.6;
  font-size: .75em;

  page-break-inside: avoid;
  overflow: scroll;
}

pre .dark-blue { color: #0d3289; }
pre .blue { color: #00a0a0; }
pre .dark-blue { color: #0d3289; }
pre .yellow { color: #CDAB00; }
pre .orange { color: #ff7400; }
pre .purple { color: #765BC8; }

#content {
  max-width: 36em;
  margin: 0 auto 30px auto;
  padding: 0 20px;
  margin-top: 4em;
  color: #456;
}

#header {
  max-width: 100vw;
  margin-bottom: 2em;
}

.absolute {
  position: absolute;
}

.image-centered {
  display: flex;
  justify-content: center;

  width: 100%;
  padding-top: 2em;
}

.code-block {
  display: flex;
  justify-content: center;
  margin: 1.5em 1em -0.2em 1em;
}

.code-description {
  font-family: monospace;
  font-size: .6em;
}

.image-small {
  max-height: 12em;
  max-width: 100%;
  width: auto;
  height: auto;
}

.image-medium {
  max-height: 16em;
  max-width: 100%;
  width: auto;
  height: auto;
}

.image-large {
  max-height: 18em;
  max-width: 100%;
  width: auto;
  height: auto;
}

.italics {
  font-style: italic;
  padding-right: 2px;
}

.inline-code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  font-family: monospace;
  color: #4F4F4F;
  font-size: .9em;
  font-weight: 100;
  padding: 0em .25em;
  border-radius: 3px;
  white-space:nowrap;
}

a.code-description { text-decoration: none; }

a.code-description:hover { color: #00a0a0; }

.header-top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.fade-colour {
  -moz-transition:color .15s ease-in;
  -o-transition:color .15s ease-in;
  -webkit-transition:color .15s ease-in;
}

.light-grey { color: #5c7993; }

.tab { padding-left: 2em; }

@media(min-width: 330px) {
  html { font-size: 16px; }

  h1 { font-size: 2.05em; }

  #content {
    margin-top: 2em;
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  #header {
    padding-top: .7em;
    margin-bottom: 2em;
  }

  .small-screen { display: initial; }
  .normal-screen { display: none; }
}

@media(min-width: 370px) { h1 { font-size: 2.4em; } }

@media(min-width: 400px) {
  h1 { font-size: 2.68em; }

  #content {
    margin-top: 2em;
    padding-left: 2.8em;
    padding-right: 2.8em;
  }
}

@media(min-width: 470px) { html { font-size: 17px; } }

@media(min-width: 544px) {
  #content  {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  .small-screen { display: none; }
  .normal-screen { display: revert; }
}

@media(min-width: 625px) {
  html { font-size: 18px; }
  h1 { font-size: 3em; }

  #header { padding-top: 20px; }

  #navbar { align-items: initial; }

  .header-top {
    flex-direction: row;
    align-items: center;
  }
}

@media(min-width: 800px) {
  html { font-size: 19px; }
  pre {
    font-size: .81em;
    min-width: 100%;
    max-width: 100%;
  }

  #content { margin-top: 3.5em; }

  #header {
    margin-top: 1.4em;
    margin-bottom: 2em;
  }

  .code-block { margin: 1.5em 1em 0 1em; }

  .code-description { font-size: .8em; }
}

@media(min-width: 1000px) { html { font-size: 20px; } }
@media(min-width: 1225px) { html { font-size: 21px; } }
@media(min-width: 1496px) { html { font-size: 22px; } }
@media(min-width: 1736px) { html { font-size: 23px; } }
@media(min-width: 2025px) { html { font-size: 24px; } }
