body {
  font-family: Helvetica, serif;
  background-color: #fffef8; 
  margin: 0;
  border-top: 1em solid #00a0a0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: #000;
}

h2 {
  color: #000;
  font-size: 2.5em;
}

#content {
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  margin-top: 4em;
  color: #456;
}

#header {
  max-width: 100vw;
  margin-bottom: 2em;
}

.header-top {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.fade-colour {
  -moz-transition:color .15s ease-in;
  -o-transition:color .15s ease-in;
  -webkit-transition:color .15s ease-in;
}

.light-grey {
  color: #748ea8;
}

.tab {
  padding-left: 2.2em;
}

@media(min-width: 330px) {
  html { font-size: 16px; }

  h1 { font-size: 2.05em; }

  #content {
    margin-top: 2em;
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  #header {
    padding-top: .7em;
    margin-bottom: 2em;
  }

  .small-screen { display: initial; }
  .normal-screen { display: none; }
}

@media(min-width: 370px) { h1 { font-size: 2.4em; } }

@media(min-width: 400px) {
  h1 { font-size: 2.68em; }

  #content {
    margin-top: 2em;
    padding-left: 2.8em;
    padding-right: 2.8em;
  }
}

@media(min-width: 470px) { html { font-size: 17px; } }

@media(min-width: 544px) {
  #content  {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }

  .small-screen { display: none; }
  .normal-screen { display: revert; }
}

@media(min-width: 625px) {
  html { font-size: 18px; }
  h1 { font-size: 3em; }

  #header { padding-top: 20px; }

  #navbar { align-items: initial; }

  .header-top {
    flex-direction: row;
    align-items: center;
  }
}

@media(min-width: 800px) {
  html { font-size: 19px; }

  #content { margin-top: 3.5em; }

  #header {
    margin-top: 1.4em;
    margin-bottom: 2em;
  }
}

@media(min-width: 1003px) { html { font-size: 20px; } }
@media(min-width: 1225px) { html { font-size: 21px; } }
@media(min-width: 1496px) { html { font-size: 22px; } }
@media(min-width: 1736px) { html { font-size: 23px; } }
@media(min-width: 2025px) { html { font-size: 24px; } }
